<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

</html>

<body>

    <!-- topo  -->
    <div id="topo">
        <h1>TOPO</h1>
    </div>

    <!-- Nav Esquerda -->
    <div id="conteudoEsq">
        <h3>COLUNA ESQUERDA</h3>
        <p>Lorem .... </p>
    </div>

    <!-- Nav Direita -->

    <div id="colEsq">
        <div id="sepEsqcolCentral">
            <div id="colDir">
                <div id="conteudoDir">
                    <h3>COLUNA DIREITA</h3>
                    Lorem ipsum ...
                </div>

                <!-- Conteudo Centro -->
                <div id="sepcolCentralDir">
                    <div id="colCentral">
                        
                        {% block content %}
                           
                        {% endblock content %}
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>